<%= render "partials/banner" %>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card-category">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Add a list", new_list_path %>
