// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: #14213d;
$light-background: #2d4068;
$font-for-background: #fca311;
$second-font-for-background: #e5e5e5;
