<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= @list ? cl_image_path(@list.photo&.key) : image_url('banner-image.jpg') %>);">
  <div class="container">
    <% if @list %>
      <h1><%= @list.name %></h1>
    <% else %>
      <h1>Welcome</h1><br>
      <h1>to Watch List!</h1>
    <% end %>
  </div>
</div>
