<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path(@list.photo&.key) if @list%>)">
  <div class="container">
    <% if @list %>
      <h1><%= @list.name %></h1>
    <% else %>
      <h1>Watch List</h1>
    <% end %>
  </div>
</div>
