.banner {
  padding: 150px 0;
  background-position: center;
  background-size: cover;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-family: $headers-font;
  font-size: 50px;
  color: $font-for-background
}

.banner p {
  font-size: 20px;
  color: $font-for-background;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
