.card {
  overflow: hidden;
  background: $light-background;
  box-shadow: 0 0 15px lightgrey;
  border-radius: 4px;
  position: relative;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 260px;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card .card-text {
  font-size: 12px;
}
.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px #fca311;
  filter: grayscale(100%);
  &:hover {
    filter: none;
    height: 190px;
    transition-duration: 0.2s;
    color: white;
  }
}

@media (max-width: 576px) {
  .card-category {
    background-size: cover;
    background-position: center;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #fca311;
    filter: grayscale(100%);
    &:hover {
      filter: none;
      height: 190px;
      transition-duration: 0.2s;
      color: white;
    }
  }
 }

.card-link {
  text-decoration: none;
  color: $font-for-background;
  text-align: center;
}
